:root{
    --color-primario:hsl(210, 18%, 26%);
    --color-secundario:hsl(196, 30%, 61%);
    --color-terciario:hsl(211, 100%, 84%);
    --color-cuartario:hsl(209, 19%, 52%);
    --color-quintario:hsl(209, 18%, 39%);
    --blanco:#f5f5f5;

    --color-primario-dark:hsl(210, 18%, 10%);
    --color-quintario-dark:hsl(209, 18%, 29%);
    --color-secundario-light:rgba(126, 169, 185, 0.5);

    --color-apoyo1:#F3FFFE;
    --color-apoyo2:#B6BFBE;
    --color-apoyo3:#797F7E;
    --color-apoyo4:#3D4040;
    --color-apoyo5:hsl(175, 17%, 78%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}  

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-image: linear-gradient(180deg, var(--color-quintario),var(--color-cuartario),var(--color-terciario));
    color: #000000;

}

section{
    scroll-margin-top: 90px;
    padding: 45px 90px
}

section#sobremi{
    padding: 0;
}
/*
section#Cursos {
    background-image: linear-gradient(90deg, hsl(204, 70%, 63%), hsl(167, 40%, 65%));
}
*/
/* #region Inicio */
.inicio-container {
    padding: 20px;
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    background-image: url('../img/Yo.jpg'); /* Reemplaza 'tu_imagen.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.Nombre{
    padding: 5px;
    color: var(--blanco);
}

.Titulo{
    padding: 15px;
    color: var(--blanco);
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--color-cuartario);
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--blanco); /* Cambia el color al pasar el cursor sobre los íconos */
}
/* #endregion */

/* #region SobreMi */

.sobremi-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.sobremi-container h1{
    padding-top: 10px;
    color: var(--color-primario-dark);
    font-style:oblique;
    font-size: 50px;
}

.sobremi {
    padding: 20px;
    margin: 20px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--color-quintario-dark);
    width: 50%;
}

.sobremi p{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--blanco);
    
}
/* #endregion */

/* #region Habilidades */

.habilidades-container{
    font-family: Arial, sans-serif;
    background-color: var(--color-quintario-dark);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.habilidades-container h1{
    padding-top: 10px;
    color: var(--color-primario-dark);
    font-style:oblique;
    font-size: 50px;
}

.fondo{
    gap: 1rem;
    background-color: var(--color-apoyo1);
    padding: 3rem; 
    border-radius: 25%;
}

.habilidad-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    
}

.habilidad-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.bar {
    width: 900px;
    height: 20px;
    background-color: var(--color-cuartario); 
}

.bar h3{
    color: var(--color-primario-dark);
    text-transform: uppercase;
    
}

.bar-inner {
    height: 100%;
    background-color: var(--color-terciario); 
}
/* #endregion */

/* #region Educaion */

#estudios h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--color-primario-dark);
    padding-left: 75%;
    font-weight: 800;
    border-bottom: 5px solid var(--color-quintario-dark);
    margin-bottom: 2rem;
}

.estudios-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 60px;
    padding-bottom: 100px;
}

.estudios-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 60px;
}

.estudios {
    flex: 1;
    text-align: center;
    padding: 2rem;
    background: var(--color-cuartario);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.estudios img {
    max-width: 35%;
}

.descripcion-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descripcion {
    display: flex;
    gap: 10px;
    padding: 45px;
    background-color: var(--color-apoyo1);
    border-radius: 8px;
}

.mensaje {
    flex: 1;
    margin-bottom: 0.75rem;
}

.aprendizaje {
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
}

/* #endregion */

/* #region ExperienciaLaboral */

.titulo{
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--color-primario-dark);
    font-weight: 800;
    border-bottom: 5px solid var(--color-quintario-dark);
    margin-bottom: 2rem;
}

.experiencia-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-cuartario); 
    padding: 50px;
}

.apartado {
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid var(--color-quintario-dark);
    transition: transform 0.3s; 
}

.apartado:hover {
    transform: scale(1.05); 
}

.apartado h1 {
    font-size: 24px;
    margin: 0;
}

.apartado h2 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
}

.apartado p {
    margin: 0;
}

/* #endregion */

/* #region Cursos */
.curso-container{
    display: flex;
}

#Cursos h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--color-primario-dark);
    padding-left: 65%;
    font-weight: 800;
    border-bottom: 5px solid var(--color-quintario-dark);
    margin-bottom: 2rem;
}

.curso {
    position: relative;
    padding: 20px;
    margin: 20px;
    background: var(--color-apoyo1);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
}

.curso img{
    width: 100%;
    border-radius: 3px;
}

.curso h3 {
    margin-bottom:  10px;
    font-size: 1.5rem;
}

.curso p {
    margin-bottom: 10px;
    color:#555;
    padding-bottom: 10px;
}

button.btn,
a.button-link {
    cursor: pointer;
    background-color: var(--color-quintario);
    color: var(--blanco);
    font-size: 1.25rem;
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    border: none;
    border-radius: 21px;
    transition: color 0.5s;
}

a.button-link {
    display: inline;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

button.btn:hover,
a.button-link:hover {
    background-color: var(--color-secundario);
}


/* #endregion */

/* #region footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-primario);
    color:var(--blanco);
    text-align: center;
    height: 50vh;
    padding: 6rem 3rem;
}

.contacto-container {
    width: 600px;
    max-width: 100%;
}

.contacto-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

#contacto-form {
    width: 600px;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid var(--blanco);
    border-radius: 3px;
}

#btn-ir-arriba {
    display: none;
    cursor: pointer;

    position: fixed;
    bottom: 20px;
    right: 20px;

    background: var(--color-secundario);
    color: var(--blanco);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;

    box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
    transition: 300ms ease;
}

#footer p{
    padding-top: 10px;
}

#btn-ir-arriba:hover {
    background: var(--color-primario-dark);
    transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
    width: 25px;
    fill: none;
    stroke: var(--blanco);
    stroke-width: 3px;
}

/* #endregion */

@media screen and (max-width: 1440px) {

    body {
        font-size: 14px;
    }

    section {
        padding: 40px 70px;
    }

    .estudios-container {
        padding: 10px;
        gap: 45px;
    }

    .estudios-container2 {
        padding: 10px;
        gap: 45px;
    }

    .curso {
        padding: 1.5rem;
        margin: 1.5rem;
    }


}

@media screen and (max-width: 1024px) {

    body {
        font-size: 12px;
    }

    section {
        padding: 40px 50px;
    }

    #estudios h1{
        padding-left: 65%;
    }

    #Cursos h1{
        padding-left: 40%;
    }

    .fondo{
        gap: 0.5rem;
        padding: 1rem; 
        border-radius: 0%; 
        width: 75%;
    }

    .estudios-container {
        gap: 20px;
    }

    .estudios-container2 {
        gap: 20px;
    }

    .curso {
        padding: 10px;
        margin: 10px;
    }


}  

@media screen and (max-width: 768px) {

    body {
        font-size: 11px;
    }

    section {
        padding: 20px 40px;
    }

    #estudios h1{
        padding-left: 55%;
    }

    #Cursos h1{
        padding-left: 15%;
    }


    .estudios-container,
    .curso-container,
    .estudios-container2 {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .curso {
        padding: 40px;
        margin: 20px 0;
    }

    button.btn,
    a.button-link {
        font-size: 1rem;
    }

}
